$font: 'Nunito', sans-serif;
$light-grey: #e0e0e0;
$header-bg: #000000;
$purple: #800080;
$white: #ffffff;
$very-light-grey: #f1f1f1;
$green: #00be00;
$red: #ff0000;
$grey: #5c5c5c;
$date-color: #aaaaaa;